@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body{
    background-color: #ddd;
    border-color: white;
    box-shadow: #ddd;
}
.newspaper-container{
    width: 700px;
    border-radius: 15px;
    text-align: center;
    background-color: white;
    box-shadow: #ddd;
}
a{
    color:#777 
}
main>p{
    color:#dd3232;
}
main>h2{
    font-family: Roboto Slab;
}
header{
    font-family:Abril Fatface;
}
h1{
    text-align: center;
}
nav{
    border-top:1px solid black;
    border-bottom: 1px solid black;
}
ul{
    text-align: center;
}
li{
    list-style: none;
    display: inline-block;
    left: 0px;
    padding:1em;
}