@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body{
    background-color: #ddd;
    border-color: white;
    box-shadow: #ddd;
    font-family: Source Sans Pro;
}
.newspaper-container{
    width: 700px;
    border-radius: 15px;
    margin: auto;
    background-color: white;
    box-shadow: #ddd;
    padding: 1em;
}
.more-articles{
    display:inline-block;
}
a{
    color:#777 
}
main>p{
    color:black
}
main{
    text-align: justify;
    width:600px;
    padding: 1em;
}
main>h2{
    font-family: Roboto Slab;
}
h4, h5{
    font-family: Roboto Slab;
}
header>h1{
    font-family:Abril Fatface;
}
h1{
    text-align: center;
}
h5{
    color:#dd3232
}
nav{
    border-top:1px solid black;
    border-bottom: 1px solid black;
    display:inline-block;
}
ul{
    text-align: center;
}
li{
    list-style: none;
    display: inline-block;
    left: 0px;
    padding: 0.25em;
}
section{
    border-top:1px solid black;
    display: inline-block;
    width: 300px;
    padding: 1em;
}
section>p{
    text-align: justify;
}